*.in
aclocal.m4
autom4te.cache/
compile
configure
depcomp
install-sh
missing
Makefile
config.log
config.status
include/config.h
include/stamp-h1
src/.deps/
src/*.o
src/Makefile
src/osmconvert
src/osmfilter
src/osmupdate
src/osmassignpoly
src/osmgeobase
src/osmposition
src/osmrelpoly
